<template>
  <div>Register</div>
  <div>
    <label for="email"> Email </label>
    <input type="email" v-model="formRegister.email" />
  </div>
  <div>
    <label for="username"> Username </label>
    <input type="text" v-model="formRegister.username" />
  </div>
  <div>
    <label for="password"> Password </label>
    <input type="password" v-model="formRegister.password" />
  </div>
  <button @click="handleSubmit">Daftar</button>
</template>

<script setup>
import { reactive } from "vue";
import axios from "axios";
import { useRouter } from "vue-router";

const formRegister = reactive({
  email: null,
  password: null,
  username: null,
});

const router = useRouter();

function handleSubmit() {
  const body = {
    email: formRegister.email,
    password: formRegister.password,
    username: formRegister.username,
  };
  axios
    .post("http://94.74.86.174:8080/api/register", body)
    .then(() => {
      router.push("/login");
    })
    .catch((err) => {
      alert(err.message);
    });
}
</script>

<style></style>
