<template>
  <div>Login</div>
  <div>
    <label for="email"></label>
    <input type="text" v-model="formLogin.username" />
  </div>
  <div>
    <label for="password"></label>
    <input type="password" v-model="formLogin.password" />
  </div>
  <button @click="handleSubmit">Daftar</button>
</template>

<script setup>
import { reactive } from "vue";
import axios from "axios";
import { useRouter } from "vue-router";
import { setToken } from "@/service/token";

const formLogin = reactive({
  password: null,
  username: null,
});

const router = useRouter();

function handleSubmit() {
  const body = {
    password: formLogin.password,
    username: formLogin.username,
  };
  axios
    .post("http://94.74.86.174:8080/api/login", body)
    .then((res) => {
      const statusSuccess = 200;
      if (res.status === statusSuccess) {
        setToken({ token: res.data.data.token });
        router.push("/dashboard");
      }
    })
    .catch((err) => {
      alert(err.message);
    });
}
</script>

<style></style>
