<template>
  <div>
    <div>
      <div>
        <label for="nama">Nama Item</label>
      </div>
      <div>
        <input type="text" v-model="itemName" placeholder="masukan nama" />
      </div>
      <div>
        <button @click="insertItem">Tambah</button>
      </div>
    </div>
  </div>
</template>

<script setup>
import axios from "axios";
import { onMounted, ref, computed } from "vue";
import { useRouter, useRoute } from "vue-router";

const router = useRouter();
const route = useRoute();

const dataId = computed(() => {
  return route.params.id;
});
const itemName = ref();

function insertItem() {
  const body = {
    itemName: itemName.value,
  };
  axios
    .post(`http://94.74.86.174:8080/api/checklist/${dataId.value}/item`, body)
    .then(() => {
      router.push("/dashboard");
    })
    .catch((err) => {
      console.log(err);
    });
}

onMounted(() => {
  console.log(route.params.id);
});
</script>
