<template>
  <div>
    <div>
      <label for="nama">Nama</label>
    </div>
    <div>
      <input type="text" v-model="dataName" placeholder="masukan nama" />
    </div>
    <div>
      <button @click="insertData">Tambah</button>
    </div>
  </div>
</template>

<script setup>
import axios from "axios";
import { ref } from "vue";
import { useRouter } from "vue-router";

const router = useRouter();

const dataName = ref();

function insertData() {
  const body = { name: dataName.value };
  if (dataName.value) {
    axios
      .post("http://94.74.86.174:8080/api/checklist", body)
      .then(() => {
        router.push("/dashboard");
      })
      .catch((err) => {
        console.log(err);
      });
  } else {
    alert("kolom nama harap di isi");
  }
}
</script>

<style></style>
