<template>
  <div>
    <button @click="redirectToInsertData">Tambah Data</button>
  </div>
  <br />
  <div v-for="data in datas" :key="data">
    <div>id: {{ data.id }}</div>
    <div>names: {{ data.name }}</div>
    <div>items: {{ data.items }}</div>
    <div>checklistCompletionStatus: {{ data.checklistCompletionStatus }}</div>
    <div>
      <button @click="redirectToInsertItem(data.id)">Add Items</button>
    </div>
    <div>
      <button @click="handleCopy(data.name)">Duplicate Data</button>
      <button @click="handleDeleteChecklist(data.id)">delete</button>
    </div>
    <br />
  </div>
</template>

<script setup>
import { onMounted, ref } from "vue";
import axios from "axios";
import { useRouter } from "vue-router";

const router = useRouter();

const datas = ref([]);
function getChecklist() {
  axios.get("http://94.74.86.174:8080/api/checklist").then((res) => {
    datas.value = res.data.data;
  });
}

function handleCopy(dataName) {
  const body = { name: dataName };
  axios
    .post("http://94.74.86.174:8080/api/checklist", body)
    .then(() => {
      getChecklist();
    })
    .catch((err) => {
      console.log(err);
    });
}

function handleDeleteChecklist(dataId) {
  axios
    .delete(`http://94.74.86.174:8080/api/checklist/${dataId}`, {
      params: dataId,
    })
    .then(() => {
      getChecklist();
    })
    .catch((err) => {
      console.log(err);
    });
}

function redirectToInsertItem(dataId) {
  router.push(`/tambah/item/${dataId}`);
}

function redirectToInsertData() {
  router.push("/tambah/data");
}

onMounted(() => {
  getChecklist();
});
</script>

<style></style>
